​@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700");

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: "Roboto Condensed", Arial, sans-serif;
    background-color: #121212;

}

.todoList {
    width: 100%;
    max-width: 900px;
}

.todoList header {
    background-color: #de3f53;
    color: #ffff;
    padding: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.3rem;
    text-align: center;
}

.wrapper-list ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper-list ul.list li {
    position: relative;
    background-color: #262e4c;
    border-bottom: 1px solid #1c2340;
    color: #b1b2c9;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: backgroud-color 200ms ease;
    transition: display 200ms ease;
}

.wrapper-list ul.list li:hover {
    background-color: #323b5c;
}

.wrapper-list ul.list li:hover .remove {
   opacity: 1;
}

.check {
    position: relative;
    background-color:  #404a6e;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 15px;
    cursor: pointer;
    transition: backgroud-color 200ms ease;
}

.check:hover {
    background-color: #171d37;
}

.done .check:after{
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: greenyellow;
}

.done .task {
    text-decoration: line-through;
}
.remove {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 200ms ease;
}

.wrapper-list ul.list li.hidden1 {
    animation: deleteTask 900ms ease;
}

.wrapper-list ul.list li.hidden2 {
    display: none;
}


.todoList .footer {
    background-color: #171d37;
}

.todoList footer input {
    background-color: #171d37;
    border: none;
    outline: none;
    padding: 20px;
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: aliceblue;
}

@keyframes deleteTask {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}